.data-show {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

ul.breadcrumb {
    padding-top: 10px;
    list-style: none;
    margin-top: -10px;
    margin-bottom: -10px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #FFA602;
    content: "\003E";
}

ul.breadcrumb li a {
    color: #FFA602;
    text-decoration: none;
    font-weight: 300;
    /* font: 300 20px/20px Roboto, sans-serif; */
    letter-spacing: 0.0178571429em;
    font-size: 16px;
}

.zooms {
  transition: transform .2s; 
}

.zooms:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.1); 
}
