.form-field{
        display: flex;
        justify-content: space-between; /* Distribute space between the two fields */
        flex-direction: column;
}
.half-width {
    width: 50%; /* Adjust the width as needed */
    margin-right: 10px; /* Adjust the spacing between fields */
    display: inline-block;
  }
.input-group{
    display: flex;
    justify-content: space-between;
}
.input-groupInfo{
    gap: 10px;
    display: flex;
    justify-Content: space-around;
    margin-Bottom: 5px
}
.input-container-register{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 450px;
}
.input-container-registers{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
}
/* .table-container h3{
    margin-bottom: 15px;
} */
.btn-style-registration{
    display: flex;
    justify-content: flex-end;
}
.error-message1{
    color: red;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -14px;
}